<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService id="cdea7e7f-28cc-43d2-8238-2dcf5804fda4" port="8080" path="/" host="localhost" name="REST Virt 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="cdea7e7f-28cc-43d2-8238-2dcf5804fda4fileName">REST-Virt-1</con:setting></con:settings><con:properties/><con:constraints><con:congestion>0</con:congestion><con:inputBandwidth>-1</con:inputBandwidth><con:outputBandwidth>-1</con:outputBandwidth><con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity><con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity><con:virtError><con:start>0</con:start><con:endless>true</con:endless></con:virtError></con:constraints><con:dataSources><con:dataSource><con:dataSource type="Grid"><con:configuration><check>&lt;xml-fragment/></check></con:configuration></con:dataSource><con:name>DataSource 1</con:name></con:dataSource></con:dataSources><con:headerValidator type="NONE"/></con:restMockService>