<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="0dbdea52-d67a-41b7-be20-f17fa71594a9" created="2.1.0" activeEnvironment="Default environment" name="REST Project 1" resourceRoot="" compositeProjectFormat="1.3" encryptionMode="Not encrypted" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="0dbdea52-d67a-41b7-be20-f17fa71594a9fileName">REST-Project-1-readyapi-project</con:setting>
  </con:settings>
  <con:vcsConfiguration>
    <con:vcsName>Git</con:vcsName>
    <con:repositoryIdentifier>https://github.com/mikegiller/composite_proj.git</con:repositoryIdentifier>
  </con:vcsConfiguration>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties/>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer>
    <con:jmsConnection>
      <con:name>new</con:name>
      <con:extraProperties/>
    </con:jmsConnection>
  </con:jmsConnectionContainer>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>
