<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="e8df5e2e-6ed4-40f7-b2c9-6e065399d329" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://www.googleapis.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="e8df5e2e-6ed4-40f7-b2c9-6e065399d329fileName">https%3A%2F%2Fwww.googleapis.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://www.googleapis.com</con:endpoint></con:endpoints></con:interface>