<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="0197afa5-82ab-469c-a46e-c9728d4e784a" wadlVersion="http://wadl.dev.java.net/2009/02" name="Swagger Petstore" type="rest" basePath="/v2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description>This is a sample server Petstore server.  You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For this sample, you can use the api key `special-key` to test the authorization filters.</con:description><con:settings><con:setting id="0197afa5-82ab-469c-a46e-c9728d4e784afileName">Swagger-Petstore</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://localhost:8080/</con:endpoint><con:endpoint>http://petstore.swagger.io</con:endpoint></con:endpoints></con:interface>